.modelling-range-defs {
  // Add spacing after the button
  > button {
    margin-bottom: 24px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
  }

  // Add spacing after the table
  .ant-table-wrapper {
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

