.modelling-group-class {
  margin: 0;
  padding: 0;
  padding-left: 40px !important; // Indent nested class items to show hierarchy (matching Vue's .inner-group)
  list-style: none;

  li {
    list-style: none !important;
    margin-top: 0;
    margin-bottom: 0;
  }
}

