@use '../../../ui-lib-react/src/styles/table-mixins' as table;

.page-title {
  font-size: 24px;
  font-weight: 600;
  color: #00D4AA;
  margin-bottom: 24px;
  margin-top: 0;
}

.workflows-page {
  @include table.table-container-wrapper;
  @include table.resizable-columns;
  padding: 0; // No padding - AppLayout handles spacing
}

.workflows-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

