.ai-chat-bot-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;

  .message {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.65);
  }
}

