.wrap-home-drawer {
  display: inline-block;

  .wrap-bars {
    margin-right: 15px;
    margin-bottom: 6px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.home-drawer {
  * {
    outline: none;
  }

  .ant-drawer-body {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .inner {
    padding: 15px;
  }
}

