// CompositeIndexCreateDialog styles
// Use specific class to avoid affecting other modals
.composite-index-create-dialog {
  .ant-steps {
    margin-bottom: 24px;
  }

  .ant-form {
    min-height: 400px;
  }
}

