.empty-statistics {
  height: 300px;

  .title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }

  .body {
    display: flex;
    padding-top: 100px;
    justify-content: center;
  }
}

