// SCSS variables (these would typically come from a design system)
$space-xx-small: 4px;
$space-x-small: 8px;
$space-small: 12px;
$box-shadow-small: 0 1px 2px rgba(0, 0, 0, 0.1);

.cyoda-breadcrumbs {
  // List reset
  list-style: none;
  margin: 0;
  padding: 0;

  // Inset squish space
  padding: $space-xx-small ($space-xx-small * 2);

  // Flex lists
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    display: inline-block;
    vertical-align: middle;
    max-width: 240px;
    padding: $space-xx-small;
    padding-left: $space-small;
    padding-right: $space-small;
    position: relative;

    a {
      text-decoration: none;
      color: inherit;
      
      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: -1px;
        top: $space-x-small - 4px;
        bottom: $space-x-small - 4px;
        box-shadow: $box-shadow-small;
      }
    }
  }
}

