.container-cy {
  display: flex;
  margin-top: 16px;
}

.wrap-cy {
  flex-grow: 1;
  height: 500px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.wrap-controls {
  width: 60px;
  position: relative;
  margin-left: 8px;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.wrap-errors {
  margin-bottom: 15px;
}

