.graph-controls {
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid #f3f6ff;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  padding: 8px;
  border-radius: 4px;
}

.graph-controls .ant-space {
  display: flex;
  flex-direction: column;
}

.graph-controls .ant-btn {
  width: 40px;
  height: 40px;
}

