/**
 * Summary Power Styles
 */

.summary-power-card {
  .ant-card-head {
    padding: 16px 20px;
    border-bottom: none !important;
  }

  .ant-card-body {
    padding: 0 20px 16px 20px;
    min-height: 20px;
  }
}

