.metadata-button {
  padding: 4px 8px;
}

.metadata-button-success {
  color: #52c41a;
}

.metadata-button-success:hover {
  color: #73d13d;
  background-color: #f6ffed;
}

.metadata-button-error {
  color: #ff4d4f;
}

.metadata-button-error:hover {
  color: #ff7875;
  background-color: #fff2f0;
}

