.data-source-auth-operation-config-editor .inner {
  display: flex;
}

.data-source-auth-operation-config-editor .inner .label {
  padding-top: 10px;
  width: 240px;
  text-align: right;
  padding-right: 12px;
}

.data-source-auth-operation-config-editor .inner .editor {
  flex-grow: 1;
}

.data-source-auth-operation-config-editor .actions-body-template {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.data-source-auth-operation-config-editor .actions-body-template .btn-beautify {
  margin-left: 35px;
}

.data-source-auth-operation-config-editor .hint {
  font-size: 12px;
  color: #a1a0a0;
  line-height: normal;
  display: block;
  margin-top: 5px;
}

