.modelling-col-defs {
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }

  .form-multiple-selection {
    margin-top: 15px;
  }
}

