.modelling-popup {
  .ant-modal-body {
    padding: 30px;
    max-height: 70vh;
    overflow-y: auto;
  }

  .limit-desc {
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
    color: #faad14;
    font-weight: 500;
  }

  .modelling-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 50px;

    h2 {
      margin: 0;
      color: var(--refine-text-primary);
    }

    .actions-settings {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

