.modelling-popup-toggles {
  .ant-form-item {
    margin: 0;
  }

  .ant-form-item-label {
    width: auto !important;
  }

  .delimiter {
    margin: 0 20px;
    display: inline-block;
    font-size: 25px;
    position: relative;
    top: 5px;
  }
}

