.modelling-range-defs {
  h2 {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

