.pm-shards-detail-tab-transactions-view-table {
  .ant-table {
    .row-palegoldenrod {
      background: #fefcf2;
    }

    .row-yellow {
      background: #ffffb2;
    }

    .row-orange {
      background: #ffe4b2;
    }

    .row-red {
      background: #fef0f0;
    }
  }
}

