.pm-shards-detail-tab-transactions-view-filter {
  .ant-form-item-label {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .wrap-row {
    position: relative;

    .action-item {
      position: relative;
      top: 22px;
    }
  }
}

