.pm-shards-detail-tab-transactions-executing {
  h3 {
    margin-bottom: 16px;
  }

  .form {
    margin-bottom: 20px;

    .ant-row {
      align-items: flex-end;
      margin-left: 0 !important;

      .ant-col:first-child {
        padding-left: 0 !important;
      }
    }

    .wrap-button {
      button {
        width: 100%;
      }
    }
  }
}

