.pm-shards-detail-tab-transactions-executing {
  h3 {
    margin-bottom: 10px;
  }

  .wrap-button {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
  }

  .form {
    margin-bottom: 20px;
  }
}

