.pm-shards-detail-tab-transactions-entities-filter {
  h3 {
    margin-bottom: 16px;
  }

  .wrap-row {
    align-items: flex-end;
  }

  .action-item {
    button {
      width: 100%;
    }
  }

  hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #d9d9d9;
  }
}

