.code-editor-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}

.code-editor-wrapper .monaco-editor {
  padding: 0;
}

.code-editor-wrapper .monaco-editor .margin {
  background-color: #1e1e1e;
}

.code-editor-wrapper .monaco-editor .monaco-scrollable-element {
  border-radius: 4px;
}

