.state-machine-map-controls {
  width: 110px;
  height: 330px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;

  &__fit-graph {
    position: absolute;
    top: 5px;
    left: 50%;
    margin: 0;
    margin-left: -20px;
  }

  &__zoom-in {
    position: absolute;
    top: 45px;
    left: 5px;
    margin: 0;
  }

  &__zoom-out {
    position: absolute;
    top: 45px;
    right: 5px;
    margin: 0;
  }

  &__move-up {
    position: absolute;
    top: 125px;
    left: 50%;
    margin: 0;
    margin-left: -20px !important;
  }

  &__move-left {
    position: absolute;
    top: 155px;
    left: 5px;
    margin: 0 !important;
  }

  &__move-right {
    position: absolute;
    top: 155px;
    right: 5px;
    margin: 0 !important;
  }

  &__move-down {
    position: absolute;
    top: 185px;
    left: 50%;
    margin: 0;
    margin-left: -20px !important;
  }

  &__fullscreen {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -20px;
  }

  &__create-transition {
    bottom: 10px;
    position: absolute;
    left: 50%;
    width: 68px;
    margin-left: -34px !important;
  }

  .ant-btn-circle {
    border-color: transparent;
    transition: border-color 0.5s;
    
    &:hover {
      border-color: rgb(198, 226, 255);
    }
  }
}

