.list-component {
  h2 {
    margin-top: 15px;
    margin-bottom: 5px !important;
    color: #595959;
    font-size: 20px;
  }

  .box-list {
    overflow: hidden;
    border: 1px solid #bdc3c7;

    .ant-checkbox-wrapper {
      display: block;
      margin-right: 0;
      padding: 5px;
      border-bottom: 1px solid #ebeef5;
      border-left: 2px solid transparent;
      margin-left: 0;

      &:hover {
        background-color: #f5f5f5;
      }

      &.ant-checkbox-wrapper-checked {
        background-color: #f0f9eb;
        border-left: 2px solid orange;
      }
    }

    .ant-checkbox {
      display: none;
    }

    .ant-checkbox-wrapper span:last-child {
      line-height: 21px;
      color: rgb(96, 98, 102);
    }
  }
}

