// TransitionChangesTable Component Styles
// Migrated from Vue component

@use '../../styles/table-mixins' as table;

.transition-changes-table {
  @include table.table-container-wrapper;
  
  .ant-table {
    font-size: 14px;
  }
  
  .transition-link {
    color: #1890ff;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  .change-type {
    font-weight: 500;
    
    &.added {
      color: #52c41a;
    }
    
    &.removed {
      color: #ff4d4f;
    }
    
    &.modified {
      color: #faad14;
    }
  }
}

