/**
 * ReportConfigs Page Styles
 * Migrated from: .old_project/packages/http-api/src/views/ConfigEditor/ConfigEditorReports.vue
 */

.report-configs {
  padding: 24px;

  .success-row {
    background: #f0f9eb;
  }

  .search {
    width: 100%;
    margin-bottom: 15px;
  }

  .flex-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  }

  .flex {
    display: flex;
    margin-bottom: 15px;

    .search-toolbar {
      width: 300px;
      margin-right: 15px;
    }
  }

  h1.label {
    font-size: 22px;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .config-editor-reports-filter {
    margin-bottom: 20px;
  }
}

