@use '../../../ui-lib-react/src/styles/table-mixins' as table;

.report-configs-stream {
  @include table.table-container-wrapper;
  @include table.resizable-columns;
  padding: 24px;

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 15px;
  }
}

