/**
 * App Styles
 */

#app {
  min-height: 100vh;
}

.tasks-filters .ant-form-item-label {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.tasks-grid {
  margin-top: 20px;
}

.wrap-table {
  margin-top: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.row {
  margin: 0 -15px;
}

.col-md-12 {
  padding: 0 15px;
}

