// Footer styles
.c-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f0f3f5;
  border-top: 1px solid #d8dbe0;
  font-size: 0.875rem;
  color: #768192;

  a {
    color: #00d8b3;
    text-decoration: none;

    &:hover {
      color: #00b899;
      text-decoration: underline;
    }
  }
}

.left-column {
  display: inline-flex;
  align-items: center;

  div {
    margin-left: 15px;
  }
}

.ml-auto {
  margin-left: auto;
}

