.filter-builder {
  padding: 16px;
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.filter-builder .ant-radio-group {
  margin-right: 10px;
}

.filter-builder .ant-radio-button-wrapper {
  min-width: 100px;
  text-align: center;
}

