@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.transition-versions-sorted {
  @include table.table-container-wrapper;
  @include table.resizable-columns;

  .card-body ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li.name {
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

