.label:not(:empty) {
  text-transform: uppercase;
  color: #595959;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  padding: 5px 8px;
}

.select-grid__column-header {
  font-size: 12px;
  line-height: 24px;
  background-color: #f5f7f7 !important;
  color: rgba(0, 0, 0, 0.54);
}

.label {
  display: block;

  &:not(:empty) {
    text-transform: uppercase;
    color: rgb(89, 89, 89);
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding: 4px 8px;
  }

  &.valid {
    color: rgb(20, 135, 81);
  }

  &.invalid {
    color: rgb(178, 46, 44);
  }
}

.group-block--padded-content {
  padding: 15px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
  padding: 15px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #f0ad4e;
  height: 140px;
  overflow-y: scroll;
}

.container--select-ds {
  display: grid;
  grid-template-columns: 35% auto;
  width: 100%;
  // height: 180px;
  margin-bottom: 24px;
  // border: 1px solid #828282;
}

.container--select-ds2 {
  display: grid;
  grid-template-columns: 75% auto;
  width: 100%;
  // height: 180px;
  margin-bottom: 24px;
  // border: 1px solid #828282;
}

.container--select-ds3 {
  display: grid;
  grid-template-columns: 50% auto;
  width: 100%;
  // height: 180px;
  margin-bottom: 24px;
  // border: 1px solid #828282;
}

.container--report-state {
  display: grid;
  grid-template-columns: 20% auto;
  width: 100%;
  height: 120px;
  padding: 15px;
  margin-bottom: 24px;
  border: 1px solid #f0ad4e;
}

.state {
  display: grid;
  grid-template-columns: 20% auto;
}

.execution-meta {
  text-align: center;
}

.processing-spinner {
  // width: 100%;
  height: 60px;
}

.status-text {
  // text-transform: capitalize;
  text-align: left;
}

.status-text__status--started {
  color: #f0ad4e;
}

.status-text__status--running {
  color: #f0ad4e;
}

.status-text__status--successful {
  color: green;
}

.container--report-stats {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  padding: 0 15px 0 15px;
  margin-top: 8px;
  border: 1px solid #e8e8e8;
}

.report-stats {
  // margin: $space-large $space-small;
  color: #646464;
}

.report-select {
  // max-width: 600px;

  .label {
    text-align: left;
  }
}

dl {
  padding-left: 8px;
}

dt {
  padding-bottom: 0;
  margin-top: 8px;
}

pre.styled {
  border: 2px solid #e8e8e8;
  background: #fafafa;
  border-radius: 8px;
  padding: 8px;
  height: 100px;
  width: 600px;
  min-height: 30px;
  max-width: 100%;
}
.heading {
  padding: 12px 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  display: block;
}
.h1 {
  font-size: 24px;
  margin-top: 16px;
}
