/**
 * Global Styles
 */

@import 'antd/dist/reset.css';

// Import shared button fix styles
@import '../ui-lib-react/src/styles/button-fix.scss';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

