.el-select,
.el-autocomplete {
  width: 100%;
}

button {
  outline: none !important;
}

.graph-wrapper {
  .button.fullscreen {
    display: none;
  }
}

.el-form-item__content {
  .hint {
    font-size: 12px;
    color: #a1a0a0;
    line-height: normal;
    display: block;
    margin-top: 5px;
    width: 100%;
  }
}

.el-select__input {
  margin-left: 0 !important;
}
