.vue-treeselect__input-container {
  input {
    line-height: 38px;
    height: 38px;
  }
}

.vue-treeselect__single-value {
  div {
    line-height: 40px;
    height: 40px;
  }
}

.vue-treeselect__placeholder,
.vue-treeselect-helper-zoom-effect-off,
.vue-treeselect__value-container {
  line-height: 40px;
  height: 40px;
}
