.code-display {
  margin-top: 15px;
}

.code-display-header {
  display: flex;
  padding: 15px 20px;
  background-color: #909399;
  color: #fff;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.code-display-body {
  padding: 15px;
  border: 2px solid #909399;
  border-top: none;
  color: #000;
  background-color: #f5f5f5;
  max-height: 400px;
  overflow: auto;
}

.code-display-body pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code-display-header .anticon {
  transition: transform 0.3s;
}

.code-display.is-not-collapsed .code-display-header .anticon {
  transform: rotate(-180deg);
}

