.chat-message-text {
  &__message {
    p {
      margin: 0;
    }

    a {
      color: #409eff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    table {
      margin-top: 10px;
      border-collapse: collapse;

      th {
        background-color: #4b5d7a;
        color: #fff;
      }

      td, th {
        padding: 10px;
        border: 1px solid #ebeef5;
      }

      tr:nth-child(even) {
        td {
          background-color: #fafafa;
        }
      }

      tr:hover {
        td {
          background-color: #f5f7fa;
        }
      }
    }
  }

  .copy-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    font-size: 0.8em;
    padding: 0 0.5em;
    background: hsla(0, 0%, 55%, 0.2);
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
      background: hsla(0, 0%, 55%, 0.3);
    }
  }

  pre[class*="language-"] {
    padding-top: 1.5rem;
  }
}

