.pm-processing-events-view {
  h3 {
    margin-bottom: 16px;
  }

  .form-filter {
    .ant-form-item {
      margin-bottom: 10px;
    }

    .ant-row {
      align-items: flex-end;
    }

    .reset-button {
      width: 100%;
    }
  }
}

