@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.processing-events-error-view-table {
  @include table.table-container-wrapper;
  @include table.resizable-columns;
  @include table.fixed-columns-background;
}

