@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.processing-events-entities-error-list-view-table {
  @include table.table-container-wrapper;
  @include table.resizable-columns;
}

