@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.pm-processing-events-view {
  @include table.fixed-columns-background;

  h3 {
    margin-bottom: 16px;
  }

  .ant-form-item-label {
    padding-bottom: 4px;

    > label {
      font-weight: 500;
      color: var(--refine-text-secondary) !important;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.5px;
    }
  }
}

