.pm-sift-logger-conf-view {
  .actions {
    margin-top: 20px;
    text-align: center;
  }

  .ant-form-item-label {
    padding-bottom: 4px;

    > label {
      font-weight: 500;
      color: var(--refine-text-secondary) !important;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.5px;
    }
  }

  .flex-row {
    display: flex;
    gap: 10px 40px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .flex-col {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

