@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.pm-shards-detail-tab-transactions-view-table {
  @include table.table-container-wrapper;
  @include table.resizable-columns;

  .ant-table {
    .row-palegoldenrod {
      background: #fefcf2;
    }

    .row-yellow {
      background: #ffffb2;
    }

    .row-orange {
      background: #ffe4b2;
    }

    .row-red {
      background: #fef0f0;
    }
  }

  .pagination-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-size {
      min-width: 120px;
    }
  }
}

