.assign-mode {
  display: inline-block;
}

.assign-mode div {
  font-weight: bold;
  text-decoration: underline;
  margin-right: 5px;
  padding: 2px 5px;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
  width: 24px;
  text-align: center;
  border-radius: 3px;
}

.assign-mode div:hover {
  opacity: 1;
  transform: scale(1.1);
}

.assign-mode .single-mode {
  color: #78a0ee;
  background: rgba(120, 160, 238, 0.1);
}

.assign-mode .single-mode:hover {
  background: rgba(120, 160, 238, 0.2);
}

.assign-mode .multiple-mode {
  color: #e79494;
  background: rgba(231, 148, 148, 0.1);
}

.assign-mode .multiple-mode:hover {
  background: rgba(231, 148, 148, 0.2);
}

