.entity-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 16px;
}

.entity-navigation-info {
  font-weight: 500;
  color: #595959;
  padding: 0 16px;
}

.entity-navigation .ant-btn {
  min-width: 150px;
}

