.entity-mapping-dialog .ant-modal-body {
  padding: 24px;
}

.dialog-entity {
  min-height: 400px;
}

.dialog-entity .wrap-relation {
  margin-bottom: 10px;
}

.entity-mapping-dialog .error-alerts ol {
  padding-left: 15px;
  margin-top: 10px;
}

