.history-dialog .ant-modal-body {
  padding: 16px;
}

.history-dialog .ant-table {
  font-size: 13px;
}

.history-dialog .ant-table-thead > tr > th {
  background-color: #fafafa;
  font-weight: 600;
}

.history-dialog .ant-btn-link {
  padding: 0;
}

