.row-item {
  padding: 0 10px;
  font-size: 16px;
  background: white;
  margin-bottom: 2px;
  border-left: 5px solid transparent;
  cursor: pointer;

  .title {
    font-weight: bold;
  }

  .description {
    font-size: 14px;
  }

  &:hover {
    border-color: #00d8b3;
  }
}

.row {
  min-height: 50px;
  padding: 10px 0;
}

.statusIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  
  &.active {
    background-color: #4dbd74;
  }
  
  &.deactive {
    background-color: #f86c6b;
  }
}

