@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.pm-processing-events-entities-error-list-view-filter {
  h3 {
    margin-bottom: 16px;
  }

  .wrap-row {
    align-items: flex-end;
  }

  .action-item {
    button {
      width: 100%;
    }
  }
}

// Dropdown styles for Select components
.processing-events-entities-error-list-view-filter-dropdown {
  @include table.select-dropdown-full-width;
}

