.pm-processing-events-error-view-filter {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 16px;
  }

  .wrap-row {
    align-items: flex-end;
  }

  .action-item {
    .ant-form-item {
      margin-bottom: 0;
    }

    button {
      width: 100%;
    }
  }

  hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #d9d9d9;
  }
}

