.pm-processing-events-entities-error-list-view-filter {
  h3 {
    margin-bottom: 16px;
  }

  .wrap-row {
    align-items: flex-end;
  }

  .action-item {
    button {
      width: 100%;
    }
  }
}

