@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.pm-processing-events-error-view-filter {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 16px;
  }

  .wrap-row {
    align-items: flex-end;
  }

  .action-item {
    button {
      width: 100%;
    }
  }

  hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #d9d9d9;
  }
}

// Dropdown styles for Select components
.processing-events-error-view-filter-dropdown {
  @include table.select-dropdown-full-width;
}

