.pm-sift-logger-conf-view {
  .actions {
    margin-top: 20px;
    text-align: center;
  }

  .flex-row {
    display: flex;
    gap: 10px 40px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .flex-col {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

