.card-body {
  .el-tabs {
    margin-top: 20px;
  }
}

.card-charts {
  .inner {
    position: relative;
    padding-left: 32px;
    .desc {
      left: 0;
      color: #777;
      bottom: 23px;
      position: absolute;
      font-size: 14px;
    }
  }
  .legend {
    color: #777;
    border: 1px solid #eee;
    margin: 16px 8px 8px;
    padding: 10px;
    font-size: 14px;
    background-color: #fbfbfb;

    .color-box:before {
      width: 20px;
      height: 20px;
      content: "";
      display: inline-block;
      margin-top: 2px;
      margin-right: 8px;
      position: relative;
      top: 2px;
    }
    .color-box.color-box-blue:before {
      background-color: rgba(54, 131, 220, 0.5);
    }
    .color-box.color-box-yellow:before {
      background-color: rgba(255, 209, 0, 0.5);
    }
    .color-box.color-box-pink:before {
      background-color: rgba(204, 1, 153, 0.5);
    }
  }
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  display: inline-block;
  &.active {
    background-color: #00d8b3;
  }
  &.deactive {
    background-color: #d8646b;
  }
}
.el-link--inner:hover {
  color: #727272;
}
.el-notification__content p {
  text-align: left !important;
}

.w-full {
  .el-form-item,
  .el-select,
  .el-date-editor {
    width: 100% !important;
  }
}

.actions-buttons {
  a {
    margin: 0 5px;
  }
  a:first-child {
    margin-left: 0;
  }
  a:last-child {
    margin-right: 0;
  }
}

a:hover::after{
  display: none;
}
