.title {
  font-weight: bold;
  font-size: 16px;
}

.progress-container {
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

