.cassandra-service {
  .status {
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 500;

    &.active {
      background-color: #52c41a;
      color: white;
    }

    &.deactive {
      background-color: #ff4d4f;
      color: white;
    }

    &.unknown {
      background-color: #d9d9d9;
      color: #595959;
    }
  }
}

