.blockly-results {
  margin-top: 24px;
}

.blockly-results .code-diff-title {
  display: flex;
  margin-bottom: 10px;
}

.blockly-results .code-diff-title div {
  width: 50%;
}

.blockly-results .code-diff-title h3 {
  font-weight: bold;
  margin: 0;
}

