.code-editor {
  border: 1px solid rgba(255, 255, 255, 0.1);
  min-height: unset !important;
  outline: none;

  .lines-content.monaco-editor-background {
    padding-left: 5px !important;
  }

  .scroll-decoration {
    display: none;
  }
}

