.code-editor {
  border: 1px solid silver;
  min-height: unset !important;
  outline: none;

  .margin-view-overlays {
    background: #f5f5f5;
    border-right: 1px solid silver;
  }

  .lines-content.monaco-editor-background {
    padding-left: 5px !important;
  }

  &.code-editor-readonly {
    .monaco-editor-background,
    .minimap {
      background-color: #f5f7fa !important;
    }
  }

  .scroll-decoration {
    display: none;
  }
}

