.query-plan-detail {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  &__row {
    display: flex;
    line-height: normal;
    margin-bottom: 10px;

    > div {
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 8px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      label {
        font-size: 12px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.65);
        display: block;
        margin-bottom: 4px;
      }

      > div {
        color: rgba(255, 255, 255, 0.85);
        font-size: 13px;
      }
    }
  }

  &__type {
    width: 100px;
    flex-shrink: 0;
  }

  &__index-id,
  &__index-values {
    width: 20%;
    flex-shrink: 0;
  }

  &__condition {
    flex-grow: 1;
  }
}

