.row {
  position: relative;

  .circle {
    position: absolute;
    right: -10px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 13px;
    border: 2px solid #000;
    opacity: 0;
    transition: all 0.5s;
    background-color: #fff;
    &:hover {
      width: 12px;
      height: 12px;
      right: -12px;
      top: 12px;
    }
    &.selected {
      background-color: #000;
      opacity: 1;
      cursor: pointer;
      &:hover::before {
        content: "x";
        position: absolute;
        color: #fff;
        font-weight: bold;
        top: -6px;
        left: 2px;
      }
    }
    &.circle-target {
      left: -10px;
      right: auto;
    }
  }

  &:hover {
    .circle {
      opacity: 1;
    }
  }
}
