/**
 * Catalogue Alias Change State Dialog Component Styles
 * Migrated from: .old_project/packages/http-api/src/components/CatalogOfAliasesChangeState/CatalogOfAliasesChangeState.vue
 */

.catalogue-alias-change-state-dialog {
  .ant-select {
    width: 100%;
  }
}

