/**
 * Catalogue Alias Dialog Component Styles
 * Migrated from: .old_project/packages/http-api/src/views/ConfigEditor/tabs/CyodaModelling/CyodaModellingAlias/CyodaModellingPopUpAliasNew.vue
 */

.catalogue-alias-dialog {
  .ant-steps {
    margin-bottom: 24px;
  }

  .ant-table {
    margin-top: 16px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }
}

