/**
 * Catalogue Alias Dialog Component Styles
 * Migrated from: .old_project/packages/http-api/src/views/ConfigEditor/tabs/CyodaModelling/CyodaModellingAlias/CyodaModellingPopUpAliasNew.vue
 */

.catalogue-alias-dialog {
  .ant-steps {
    margin-bottom: 24px;
  }

  .ant-table {
    margin-top: 16px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .icon-trash-remove {
    cursor: pointer;
    color: #ff4d4f;
    margin-left: 8px;

    &:hover {
      color: #ff7875;
    }
  }

  .parameter-link {
    color: #1890ff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .not-possible {
    color: #999;
    font-style: italic;
  }

  .actions-settings {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
}

