.column-collections-dialog {
  .column-collections-content {
    .sub-row {
      display: flex;
      margin-bottom: 10px;
      padding: 0;
      border: 1px solid #dfe6ec;

      .sub-row-title {
        background: #eef1f6;
        padding: 5px 10px;
        width: 200px;
        margin-right: 10px;
        font-weight: 500;
      }

      .sub-row-value {
        padding: 5px 10px;
        flex: 1;
        word-break: break-word;
      }
    }
  }
}

