/**
 * CreateReportDialog Styles
 * Migrated from: .old_project/packages/http-api/src/views/ConfigEditor/popup/ConfigEditorNew.vue
 */

.create-report-dialog {
  .create-report-form {
    margin-top: 24px;

    .ant-select {
      width: 100%;
    }
  }
}

