/**
 * Mapper Parameters Dialog Styles
 * Migrated from: .old_project/packages/http-api/src/views/ConfigEditor/tabs/CyodaModelling/CyodaModellingAlias/CyodaModellingPopUpAliasMappersParameters.vue
 */

.mapper-parameters-dialog {
  .ant-modal-body {
    padding-top: 0;
  }

  .ant-form-item-label {
    padding-bottom: 0 !important;
  }
}

