.report-editor-tab-model {
  h2 {
    margin: 16px 0;
    font-size: 16px;
    font-weight: 600;
  }

  .section-divider {
    margin: 40px 0 20px 0;
    border: none;
    border-top: 1px solid #d9d9d9;
  }
}

