.report-editor-tab-filter-builder {
  h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
  }

  .ant-divider {
    margin-top: 5px;
  }

  .ant-form-item-label {
    padding-bottom: 0;
  }
}

