/**
 * ReportUISettings Component Styles - Dark Theme
 * Migrated from: .old_project/packages/http-api/src/components/ReportUISettings/ReportUISettings.vue
 */

.report-ui-settings {
  .action {
    display: inline-block;
  }

  // Button styling to match dark theme
  .ant-btn {
    &.ant-btn-default {
      background: transparent;
      border-color: rgba(0, 212, 170, 0.5);
      color: #00D4AA;

      &:hover:not(:disabled) {
        background: rgba(0, 212, 170, 0.1);
        border-color: #00D4AA;
        color: #00E5BF;
      }

      &:active:not(:disabled) {
        background: rgba(0, 212, 170, 0.15);
        border-color: #00B894;
        color: #00B894;
      }
    }
  }
}

