.report-editor-tab-summary {
  .summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 8px;

    &__label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
    }

    &__select {
      min-width: 150px;
      margin-left: 12px;
    }
  }
}

