.saas-left-side-menu {
  .ant-menu-item,
  .ant-menu-submenu {
    &.ant-menu-item-danger {
      color: #ff4d4f;

      &:hover {
        background-color: rgba(255, 77, 79, 0.1);
      }
    }
  }

  .ant-menu-item-divider {
    margin: 8px 0;
  }
}

// Version Info Modal Styling
.detail-tree-item {
  margin-bottom: 12px;

  .title-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    .name {
      font-weight: 500;
      color: #595959;
      min-width: 120px;
    }

    .value {
      color: #262626;
      flex: 1;
      text-align: right;
    }
  }
}

