body {
  position: relative;
}

.app-wrapper {
  position: static;
}

.app-content {
  > * {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > * {
      flex: 0 1 auto;
    }

    .main {
      flex: 1 0 auto;
    }
  }
}

header {
  background: rgb(255, 255, 255);
  border-bottom: 2px solid #e8e8e8;

  &:not(:empty) {
    padding: 16px;
  }
}

main {
  padding: 16px;
}

footer {
  &:not(:empty) {
    padding: 16px;
  }
}

.header-contents {
  display: flex;
  align-items: center;
  gap: 12px;

  .logo-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .name-app {
    font-size: 0.875rem;
    color: #666;
  }
}

