.data-chaining-edit {
  padding: 24px;
}

.data-chaining-edit .actions {
  text-align: right;
  padding-top: 25px;
  margin-top: 20px;
  border-top: 1px solid #dedede;
}

.data-chaining-edit .actions-top {
  display: flex;
}

.data-chaining-edit .actions-top .wrap-history {
  margin-left: auto;
}

