@use '../../../ui-lib-react/src/styles/table-mixins' as table;

.report-configs-stream {
  @include table.table-container-wrapper;
  @include table.resizable-columns;
  @include table.fixed-columns-background;
  padding: 0; // No padding - AppLayout handles spacing

  .page-title {
    font-size: 24px;
    font-weight: 600;
    color: #00D4AA;
    margin-bottom: 24px;
    margin-top: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 15px;
  }

  // Export/Import buttons styling
  .export-import-button,
  .export-import-button.ant-btn,
  .export-import-button.ant-btn-default {
    background-color: #1DD1FF !important;
    border-color: #1DD1FF !important;
    color: #fff !important;

    // Icon color
    .anticon {
      color: #fff !important;
    }

    // Hover state
    &:hover:not(:disabled),
    &:hover:not(.ant-btn-disabled) {
      background-color: #4DE0FF !important;
      border-color: #4DE0FF !important;
      color: #fff !important;

      .anticon {
        color: #fff !important;
      }
    }

    // Active/Focus state
    &:active:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(.ant-btn-disabled),
    &:focus:not(.ant-btn-disabled) {
      background-color: #00C4EF !important;
      border-color: #00C4EF !important;
      color: #fff !important;

      .anticon {
        color: #fff !important;
      }
    }

    // Disabled state
    &:disabled,
    &.ant-btn-disabled {
      background-color: #1DD1FF !important;
      border-color: #1DD1FF !important;
      color: #fff !important;
      opacity: 0.5;

      .anticon {
        color: #fff !important;
      }
    }
  }
}

