/**
 * ReportConfigs Page Styles
 * Migrated from: .old_project/packages/http-api/src/views/ConfigEditor/ConfigEditorReports.vue
 */

@use '../../../ui-lib-react/src/styles/table-mixins' as table;
@import 'react-resizable/css/styles.css';

.report-configs {
  @include table.fixed-columns-background;
  padding: 0; // No padding - AppLayout handles spacing
  border: none !important;
  border-top: none !important;

  &::before,
  &::after {
    display: none !important;
  }

  .success-row {
    background: #f0f9eb;
  }

  .search {
    width: 100%;
    margin-bottom: 15px;
  }

  .flex-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 24px;
    margin-bottom: 15px;
  }

  .flex {
    display: flex;
    margin-bottom: 15px;

    .search-toolbar {
      width: 300px;
      margin-right: 15px;
    }
  }

  h1.label {
    font-size: 22px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .config-editor-reports-filter {
    margin-bottom: 20px;
  }

  // Export/Import buttons styling
  .export-import-button,
  .export-import-button.ant-btn,
  .export-import-button.ant-btn-default {
    background-color: #1DD1FF !important;
    border-color: #1DD1FF !important;
    color: #fff !important;

    // Icon color
    .anticon {
      color: #fff !important;
    }

    // Hover state
    &:hover:not(:disabled),
    &:hover:not(.ant-btn-disabled) {
      background-color: #4DE0FF !important;
      border-color: #4DE0FF !important;
      color: #fff !important;

      .anticon {
        color: #fff !important;
      }
    }

    // Active/Focus state
    &:active:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(.ant-btn-disabled),
    &:focus:not(.ant-btn-disabled) {
      background-color: #00C4EF !important;
      border-color: #00C4EF !important;
      color: #fff !important;

      .anticon {
        color: #fff !important;
      }
    }

    // Disabled state
    &:disabled,
    &.ant-btn-disabled {
      background-color: #1DD1FF !important;
      border-color: #1DD1FF !important;
      color: #fff !important;
      opacity: 0.5;

      .anticon {
        color: #fff !important;
      }
    }
  }
}

// Resizable column styles - Global
:global {
  .ant-table-thead > tr > th {
    position: relative !important;
  }

  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .react-resizable-handle {
    position: absolute !important;
    right: -5px !important;
    bottom: 0 !important;
    z-index: 10 !important;
    width: 20px !important;
    height: 20px !important;
    cursor: col-resize !important;
  }

  .react-resizable-handle-se {
    right: -5px !important;
    bottom: 0 !important;
    cursor: col-resize !important;
  }
}

