@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

.events-filter-wrapper {
  margin-bottom: 24px;

  .filter-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.85);
  }
}

.events-filter {
  .ant-form-item-label {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    > label {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: rgba(255, 255, 255, 0.65);
    }
  }

  .wrap-row {
    position: relative;

    .action-item {
      position: relative;
      left: 0;
      top: 22px;

      button {
        width: 100%;
      }
    }
  }
}



