.transition-detail-statistics {
  .ant-card-body ul {
    list-style: none;
    margin: 0;
    padding: 16px;

    li.name {
      font-weight: bold;
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }

    li:not(.name) {
      margin-top: 4px;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

