.consistency-table-row {
  .title {
    margin-top: 15px;
    font-size: 16px;
  }

  .body > div {
    margin-top: 10px;
  }

  ol {
    padding: 0;
    padding-left: 25px;
    margin: 0;
  }

  strong {
    display: block;
    margin-bottom: 5px;
  }
}

