.cyoda-logo {
  &.s {
    width: 120px;
    height: 24px;
  }

  &.m {
    width: 140px;
    height: 28px;
  }

  &.l {
    width: 210px;
    height: 42px;
  }

  .st0 {
    fill: rgb(255, 255, 255);
  }

  .st1 {
    fill: rgb(20, 135, 81);
  }

  .st2 {
    display: none;
  }
}

