.cyoda-button {
  // Custom Cyoda button styles
  // Will be populated during migration
  
  &.ant-btn-primary {
    // Primary button styles
  }
  
  &.ant-btn-default {
    // Default button styles
  }
}

