.data-chaining-index {
  padding: 24px;
}

.data-chaining-index h4 {
  font-size: 18px;
  margin: 0;
}

.data-chaining-index .header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

