.error-detail-view {
  .error-row {
    display: flex;
    margin-bottom: 5px;
    padding: 0;
    border: 1px solid #dfe6ec;
    align-items: start;

    .error-name {
      padding: 5px;
      margin-right: 10px;
      background: #eef1f6;
      width: 200px;
      white-space: nowrap;
    }

    .error-text {
      flex: 1;
      padding: 5px;
      word-break: break-word;
    }
  }
}

