body {
  position: relative;
}

.app-wrapper {
  position: static;
}

.app-content {
  > * {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > * {
      flex: 0 1 auto;
    }

    .main {
      flex: 1 0 auto;
    }
  }
}

header {
  background: rgb(255, 255, 255);
  border-bottom: 2px solid #e8e8e8;

  &:not(:empty) {
    padding: 16px;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.sticky + .main {
  padding-top: 75px;
}

main {
  padding: 16px;
}

footer {
  &:not(:empty) {
    padding: 16px;
  }
}

