.pm-tasks {
  .filter-form {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 16px;
    }

    .ant-form-item {
      width: 100% !important;
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .col-sm {
    flex: 1;
  }

  .col-auto {
    flex: 0 0 auto;
  }
}

