.cyoda-version {
  h2 {
    margin-bottom: 5px;
  }

  .detail-tree-item {
    line-height: 1;
    margin-bottom: 5px;
    padding: 0;
    border: 1px solid #dfe6ec;

    .title-value {
      display: flex;
      align-items: center;
    }

    .name {
      font-size: 16px;
      font-weight: bold;
      padding: 5px;
      margin-right: 10px;
      background: #eef1f6;
      min-width: 200px;
    }

    .value {
      padding: 5px;
    }
  }

  hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #dfe6ec;
  }
}

