//.el-transfer__buttons{
//  button {
//    width: 36px;
//    height: 36px;
//    * {
//      line-height: normal !important;
//    }
//  }
//}

.el-transfer-panel {
  width: 350px;
}

//.el-transfer-panel__body{
//  height: 300px;
//}
//.el-transfer-panel__list.is-filterable{
//  height: 294px;
//}
