.el-table__header tr th {
  background-color: #fbfbfb !important;
}
.pagination-bar {
  margin-top: 15px;
}

.tool {
  .el-form-item {
    margin-bottom: 0;
  }
  .el-row {
    margin-bottom: 10px;
  }
  .el-form--label-top {
    .el-form-item__label {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
    .el-form-item {
      width: 100%;
      .el-select,
      .el-input {
        width: 100%;
      }
    }
  }
}
