.wrap-blockly {
  display: none;
}

.logs {
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  padding: 16px;
  background: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 16px;
}

.logs div {
  padding: 4px 0;
  font-family: monospace;
  font-size: 13px;
}

