.modelling-popup-alias-new {
  .ant-steps {
    margin-bottom: 24px;
  }

  .ant-table {
    margin-top: 16px;
  }

  .icon-trash-remove {
    cursor: pointer;
    color: #ff4d4f;
    margin-left: 8px;

    &:hover {
      color: #ff7875;
    }
  }

  .parameter-link {
    color: #1890ff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .not-possible {
    color: #999;
    font-style: italic;
  }
}

