.dropdown-alert-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2000;
  display: none;
  float: left;
  min-width: 350px;
  margin: 0.125rem 0 0;
  font-size: 0.8125rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 1px rgba(90, 80, 105, 0.2);
  box-shadow: 0 0 15px 1px rgba(90, 80, 105, 0.2);
  -webkit-user-select: text;

  .dropdown-header {
    color: #fff;
    padding: 20px 24px;
    margin-bottom: 0 !important;
  }

  .dropdown-footer {
    border-top: 1px solid rgba(29, 29, 29, 0.07);
    background-color: #f7f9fa;
    text-align: right !important;
    padding: 0.5rem 1rem !important;

    a {
      color: #ef8157 !important;
      text-decoration: none;

      &:hover {
        color: #dc6e57 !important;
      }
    }
  }

  .rounded-bottom {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  .bg-trans-gradient {
    background: linear-gradient(250deg, #3e93d6, #8a75aa);
  }

  .wrap-navigation-alert {
    position: relative;
  }

  .opacity-80 {
    opacity: 0.8;
  }

  h4 small {
    font-size: 0.875rem;
    display: block;
  }

  h4 {
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.0625rem;
  }

  .notification {
    list-style: none;
    padding: 0;

    li {
      display: block;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      &.unread {
        background: #fffaee;
      }

      &:hover {
        background-image: linear-gradient(rgba(29, 33, 41, 0.03), rgba(29, 33, 41, 0.04));
      }
      a {
        display: block;
        padding: 12px 24px;
      }
    }

    .name {
      color: #222;
      font-weight: bold;
      font-size: 0.8125rem;
    }

    .label {
      color: #555;
      font-size: 0.78125rem !important;
    }

    .time {
      font-size: 0.6875rem !important;
    }
  }

  .wrap-alert {
  }
}

.dropdown-menu-animated {
  -webkit-transform: scale(0.8) !important;
  transform: scale(0.8) !important;
  -webkit-transition: all 270ms cubic-bezier(0.34, 1.25, 0.3, 1);
  transition: all 1s cubic-bezier(0.34, 1.25, 0.3, 1);
  opacity: 0;
  visibility: hidden;
  display: block;
}

.show > .dropdown-menu-animated {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  -webkit-transform-origin: 29px -50px;
  transform-origin: 29px -50px;
  opacity: 1;
  visibility: visible;
}

.__bar-is-vertical {
  background: rgba(0, 0, 0, 0.6) !important;
}
