.cyoda-dialog {
  padding: 0;

  .el-dialog__header {
    background-color: #409eff;
    color: #fff;
    margin-right: 0;
    padding: 16px;
  }

  .el-dialog__close{
    color: #fff !important;
    svg{
      position: relative;
      top: 3px;
    }
  }

  .el-dialog__body, .el-dialog__footer {
    padding: 16px;
  }
}
