.el-drawer__wrapper {
  * {
    outline: none;
  }

  .el-drawer__body {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .el-drawer__body {
    padding: 15px;
  }
  .el-drawer__header {
    margin-bottom: 0;
  }
}
