.filepond--progress-indicator svg {
  animation-name: spin_filepond !important;
}

@keyframes spin_filepond {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
