//body {
//font-weight: 400;
//color: #000;
//font-size: 14px;
//font-family: "Open Sans", Avenir, Helvetica, sans-serif;
//}

.el-table .el-table__header-wrapper th, .el-table__fixed-header-wrapper th{
  background-color: #4b5d7a !important;
  color: #fff !important;
}

button.switch::before {
  top: 3px !important;
}

#app > main > div > main > div > div.transition-form > form > div.layout {
  &::before,
  &::after {
    display: none;
  }
}

h2.h-cyoda-title{
  background-color: #F5F7FA;
  padding: 10px 15px;
  color: #909399;
  border: 1px solid #E4E7ED;
  margin-bottom: 10px;
}
