.pm-components-execution-monitors-filter {
  .ant-form-item-label {
    margin-bottom: 0 !important;
    padding-bottom: 4px !important;

    > label {
      font-weight: 500;
      color: var(--refine-text-secondary) !important;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.5px;
    }
  }

  .wrap-row {
    position: relative;
  }
}

