.pm-components-cyoda-runnable-components {
  .icon-running {
    color: #81ae33;
  }

  .icon-stop {
    color: #737373;
  }

  .operations-buttons {
    display: flex;
    gap: 8px;

    .ant-btn-circle {
      min-width: 30px;
      min-height: 30px;
    }

    .ant-btn-loading span {
      display: none !important;
    }
  }
}

