.title {
  font-weight: bold;
  font-size: 16px;
}

.progress-container {
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.labels {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

