.network-info-view {
  padding: 20px;

  .h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 0;
    color: #fff;
  }

  hr {
    height: 2px;
    background-color: #f59e0b;
    border: none;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

