@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

// Tasks table styles
.pm-tasks {
  @include table.fixed-columns-background;

  .ant-card-body {
    padding: 24px;
  }

  .ant-table {
    // Add padding to table cells
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 12px 16px;
    }
  }

  .ant-form-item {
    width: 100%;
  }
}

