@use '../../../../ui-lib-react/src/styles/table-mixins' as table;

// Tasks table styles
.pm-tasks {
  @include table.fixed-columns-background;

  .ant-card-body {
    padding: 24px;
  }

  .ant-table {
    // Add padding to table cells
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 12px 16px;
    }
  }

  .ant-form-item {
    width: 100%;
  }

  .ant-form-item-label {
    padding-bottom: 4px;

    > label {
      font-weight: 500;
      color: var(--refine-text-secondary) !important;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.5px;
    }
  }
}
