.trino-edit {
  padding: 24px;
}

.trino-edit h4 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600;
}

.trino-edit-inner-box {
  display: flex;
  gap: 16px;
  align-items: center;
}

.trino-edit-action-filter {
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.trino-edit-actions {
  margin-top: 16px;
  text-align: right;
}

.trino-edit .ant-tabs-tab {
  white-space: normal;
  word-break: break-all;
  min-height: 40px;
  height: auto;
}

.trino-edit .ant-tabs-nav {
  width: 320px;
}

.trino-edit .ant-tabs-content {
  padding-top: 10px;
  padding-right: 10px;
}

.trino-edit .ant-tabs-nav-wrap {
  padding-top: 10px;
}

